////FONT//////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/////COLORS/////
$text-color-white: #fff;
$text-color-red: #ff6060;
$color-gray: #f6f6f6;

/////RESET/////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //pour definir la valeur de 1rem : on veut 1rem = 10px, soit 10px / 16px = 62.5 (16px est la taille par default sur les navigateur)
}

body {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-red;
    font-size: 1.2rem;
    
}

main {
    margin: 0 5rem;
    min-height: 75vh;
}

a {
    text-decoration: none;
    color: currentColor;
    //outline: none; 
}

::selection {
    background-color: black;
    color: white;
}

.active {
    text-decoration: underline;
}
/////PAGE NOT FOUNT////
.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-top: 25%;
        margin-bottom: 2.5rem;
        font-size: 12.5rem;
    }

    p {
        font-size: 1.8rem;
        margin-bottom: 10rem;
    }
}

//////HEADER//////
.header {
    margin: 2rem 5rem;
    display: flex;

    &__logo {
        width: 80%;
        img {
            width: 20rem;
        }
    }

    &__links {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color : $text-color-red;
        font-weight: 500;
        font-size: 1.2rem;

         a:hover {
            text-decoration: underline;
        }
    }
}

//////BANNER//////
.banner-homepage {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    background-image: url('http://localhost:3000/images/homepage_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #595959;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        color: $text-color-white;
        font-weight: 500;
        font-size: 2.4rem;
    }
}
.banner-aboutpage {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    background-image: url('http://localhost:3000/images/aboutpage_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #595959;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        color: $text-color-white;
        font-weight: 500;
        font-size: 2.4rem;
    }
}
/////HOME PAGE/////
.home__cards {
    width: 100%;
    padding: 3% 1% 0 1%;
    background-color: #f6f6f6 ;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__thumb {
        height: 15rem;
        width: 30%;
        margin: 0rem 1% 3% 2%;
        border-radius: 5px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover; 
            border-radius: 5px;
        }

        &__title {
            position: relative;
            bottom: 2rem;
            left:.5rem;
            color: $text-color-white ;
        }
    }

    a {display: contents;}
}

/////GALLERY//////
.gallery {
    width: 100%;
    height: 40rem;
    &__image {
        border-radius: 5px;        
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    
    }
    
    &__arrow-left {
        position: absolute;
        left: 6rem;
        top: 27.5rem;
        //font-size: 5rem;
        color: rgba($text-color-white, 0.9);
        cursor: pointer;
        transition: transform .2s ease-in;
        &:hover{transform: scale(1.3);}
    }

    &__arrow-right {
        position: absolute;
        right: 6rem;
        top: 27.5rem;
        //font-size: 5rem;
        color: rgba($text-color-white, 0.9);
        cursor: pointer;
        transition: transform .2s ease-in;
        &:hover{transform: scale(1.3);}
    } 
}
//////ACCOMMODATION PAGE///////
.accommodation-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    &__left-side {
       &__title {
        font-weight: 500;
        font-size: 2rem;
    } 
    &__location {
        margin-top: .5rem;
    }
    }

    &__right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        &__host {
            margin-right: .5rem;
            line-height: 2rem;
        }
        &__host__firstname {
            text-align: end;
        }
        &__host__lastname {
            text-align: end;
        }

        img {
            border-radius: 100px;
            width: 5rem;
        }
    }
}

.tags-ratings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

////////TAG///////
.tags {
    display: flex;
    align-items: center;
    &__item {
        border-radius: 10px;
        background-color: $text-color-red;
        color: $text-color-white;
        padding: .3rem 1rem;
        font-weight: 400;
        
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

////////RATING///////
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-size: 2rem;
  &::before {
      content: "\f005 \f005 \f005 \f005 \f005";
  }
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 2rem;
  &::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: $text-color-red;
    font-weight: 900;
  }
}

.general-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
////////DESCRIPTION///////
.description {
    width: 47.5%;
    overflow: hidden;

    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            height: 15rem;
            padding: 0 1.5rem;
            transition: height .2s ease-in-out;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            line-height: 1.4;
            transition: opacity .3s ease-in-out; 
        }
    }
}


//////EQUIPMENTS//////
.equipments {
    width: 47.5%;
    overflow: hidden;

    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            height: 15rem;
            padding: 0 1.5rem;
            transition: height .2s ease-in-out;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            transition: opacity .3s ease-in-out; 
        }
    }
    &__list-item {
        list-style: none;
        line-height: 1.8rem;
    }
}

///////ABOUT///////
.dropdown {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    &:not(:last-child){margin-bottom: 2rem;}

    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        height: 0;
        overflow: hidden;
        transition: height .2s ease-in-out;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            max-height: 10rem;
            padding: 0 1.5rem;
            transition: height .2s ease-in-out;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            padding-bottom: 1rem;
            line-height: 1.4;
            transition: opacity .3s ease-in-out; 
        }
    }
}


///////FOOTER//////
.footer {

    margin-top: 5rem;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    &__logo {
        img {width: 10rem;}
    }

    p {
        margin-top: 2rem;
        color: $text-color-white;
    }
}