////FONT//////
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/////COLORS/////
$text-color-white: #fff;
$text-color-red: #ff6060;
$color-gray: #f6f6f6;

/////RESET/////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //pour definir la valeur de 1rem : on veut 1rem = 10px, soit 10px / 16px = 62.5 (16px est la taille par default sur les navigateur)
}

body {
    box-sizing: border-box;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: $text-color-red;
    font-size: 1.2rem;
    
}

main {
    margin:0 5rem 5rem 5rem;
    min-height: 70vh;

    @media screen and (max-width: 600px) {
        margin:0 1rem 1rem 1rem;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

::selection {
    background-color: $text-color-white;
    color: $text-color-red;
}

.active {
    text-decoration: underline;
}
/////PAGE NOT FOUNT////
.page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 72.5vh;

    &__content {

        h1 {
        margin-top: 25%;
        margin-bottom: 2.5rem;
        font-size: 12.5rem;
        }

        p {
        font-size: 1.8rem;
        margin-bottom: 10rem;
        text-align: center;
            @media screen and (max-width: 600px) {
                width: 75%;
            }
        
        }
    }

    
}

//////HEADER//////
.header {
    margin: 2rem 5rem;
    display: flex;

    &__logo {
        width: 80%;
        img {
            width: 20rem;
        }
    }

    &__links {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color : $text-color-red;
        font-weight: 500;
        font-size: 1.2rem;

         a:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
    margin: 2rem 1.5rem 0 1.5rem;
    &__logo {
        width: 55%;
        img {
            width: 13rem;
        }
    }
    &__links {
        width: 45%;
        font-size: 1.3rem;
        text-transform: uppercase;

    }
}
}

//////BANNER//////
.banner-homepage {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    background-image: url('https://Alphasud.github.io/CharlesDenneulin_11_17062021/images/homepage_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #595959;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        height: 12rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: flex-start;
        background-size: cover;
    }
    
    &__title {
        color: $text-color-white;
        font-weight: 500;
        font-size: 2.4rem;

        @media screen and (max-width: 600px) {
            margin-left: 2rem;
            width: 75%;
        }
    }
}
.banner-aboutpage {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    background-image: url('https://Alphasud.github.io/CharlesDenneulin_11_17062021/images/aboutpage_banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #595959;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px) {
        height: 25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: flex-start;
        background-size: cover;
        background-position: right;
    }
    
    
    &__title {
        color: $text-color-white;
        font-weight: 500;
        font-size: 2.4rem;
    }
}
/////HOME PAGE/////
.home__cards {
    width: 100%;
    padding: 3% 1% 0 1%;
    background-color: #f6f6f6 ;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (max-width: 600px) {
        background-color: $text-color-white;
        justify-content: center;
        padding: 0;
    }

    &__thumb {
        height: 15rem;
        width: 30%;
        margin: 0rem 1% 3% 2%;
        border-radius: 5px;

        @media screen and (max-width: 600px) {
            width: 100%;
            height: 25rem;
            margin: 1rem 0;

        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover; 
            border-radius: 5px;
        }

        &__title {
            position: relative;
            bottom: 2rem;
            left:.5rem;
            color: $text-color-white ;
            @media screen and (max-width: 600px) {
                bottom: 3rem;
                font-size: 1.4rem;
            }
        }
    }

    a {display: contents;}
}

/////GALLERY//////
.gallery {
    width: 100%;
    height: 40rem;

    @media screen and (max-width: 600px) {
        margin-top: 2rem;
        height: 30rem;
    }

    &__image {
        border-radius: 5px;        
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

    &__arrow-left {
        position: absolute;
        left: 6rem;
        top: 27.5rem;
        color: rgba($text-color-white, 0.9);
        cursor: pointer;
        transition: transform .2s ease-in;
        &:hover{transform: scale(1.3);}

        @media screen and (max-width: 600px) {
            left: 1rem;
            top: 20rem;
            transform: scale(0.5);
            &:hover{transform: scale(0.6);}
        }
    }

    &__arrow-right {
        position: absolute;
        right: 6rem;
        top: 27.5rem;
        color: rgba($text-color-white, 0.9);
        cursor: pointer;
        transition: transform .2s ease-in;
        &:hover{transform: scale(1.3);}

        @media screen and (max-width: 600px) {
            right: 1rem;
            top: 20rem;
            transform: scale(0.5);
            &:hover{transform: scale(0.6);}
        }
    } 
}
//////ACCOMMODATION PAGE///////
.accommodation-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    &__left-side {
       &__title {
        font-weight: 500;
        font-size: 2rem;
    } 
    &__location {
        margin-top: .5rem;
        margin-bottom: 2rem;
    }
    }

    &__right-side {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 600px) {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;
        }

        &__host-info {
            display: flex;
            align-items: center;
            margin-top: -1rem;
        @media screen and (max-width: 600px) {
            margin-top: 0;
            order: 2;
        }

        }

        &__host {
            margin-right: .5rem;
            line-height: 2rem;
        }
        &__host__firstname {
            text-align: end;
        }
        &__host__lastname {
            text-align: end;
        }

        img {
            border-radius: 100px;
            width: 5rem;
        }
    }
}

.ratings {
    margin-top: 2rem;
        @media screen and (max-width: 600px) {
            margin-top: 0;
        }

}

////////TAG///////
.tags {
    display: flex;
    align-items: center;
    &__item {
        border-radius: 10px;
        background-color: $text-color-red;
        color: $text-color-white;
        padding: .3rem 1rem;
        font-weight: 400;
        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }

        
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

////////RATING///////
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: 'Font Awesome 5 Free';
  font-size: 2rem;
  &::before {
      content: "\f005 \f005 \f005 \f005 \f005";
  }
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 2rem;
  &::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: $text-color-red;
    font-weight: 900;
  }
}

.general-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

        @media screen and (max-width: 600px) {
            flex-direction: column;
        }

}
////////DESCRIPTION///////
.description {
    width: 47.5%;
    overflow: hidden;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin-bottom: 2rem;
        }


    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in-out;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            max-height: 20rem;
            padding: 0 1.5rem;
            transition: max-height .2s ease-in-out;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            line-height: 1.4;
            transition: opacity .3s ease-in-out; 
        }
    }
}


//////EQUIPMENTS//////
.equipments {
    width: 47.5%;
    overflow: hidden;
        @media screen and (max-width: 600px) {
            width: 100%;
        }


    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in-out;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            max-height: 20rem;
            padding: 0 1.5rem;
            transition: max-height .2s ease-in-out;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            transition: opacity .3s ease-in-out; 
        }
    }
    &__list-item {
        list-style: none;
        line-height: 1.8rem;
    }
}

///////ABOUT///////
.dropdown {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    &:not(:last-child){margin-bottom: 2rem;}
        @media screen and (max-width: 600px) {
            width: 100%;
        }


    &__header {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $text-color-red;
        border-radius: 5px;
        color: $text-color-white;
        padding: 1.5rem 1rem;
        height: 2.5rem;
        h4{font-weight: 400;font-size: 1.3rem;}
    }
    &__body {
        background-color: $color-gray;
        border-radius: 5px;
        padding: 0 1.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease;
        &--open {
            background-color: $color-gray;
            border-radius: 5px;
            max-height: 20rem;
            padding: 0 1.5rem;
            transition: max-height .2s ease;            
        }
    }
    &__text {
        opacity: 0;
        padding-top: 2rem;
        transition: opacity .3s ease-in-out; 
        &--open {
            opacity: 1;
            padding-top: 2rem;
            padding-bottom: 1rem;
            line-height: 1.4;
            transition: opacity .3s ease-in-out; 
        }
    }
}


///////FOOTER//////
.footer {
    height: 20vh;
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    &__logo {
        img {width: 10rem;}
    }

    p {
        margin-top: 2rem;
        color: $text-color-white;
    }
}